*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/**Header styling
============================================================================================================================================**/
.social-part .fa{
    padding-right:20px;
  }
  ul li a{
    margin-right: 20px;
  }
  .sticky{
    position:fixed;
    width:100%;
    z-index:1000;
  }

 /**Carousel section
  ===============================================================================================================================================**/

  .carousel {
    width: 99vw;
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
 }
  .carousel:hover .controls {
    opacity: 1;
 }
  .carousel .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;
 }
  .carousel .controls .control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
    transition: ease 0.3s;
    cursor: pointer;
 }
  .carousel .controls .control:hover {
    opacity: 1;
 }
  .carousel .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
 }
  .carousel .slides .slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
 }
  
  /* footer
  ============================================================================================================================= */
  footer{
    bottom:0px;
    width:100%;
    background:rgb(54,69,79);
    color:#fff;
  }
  .main-content{
    display:flex;
  }
  .main-content .box{
    flex-basis:50%;
    padding:10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
  }
  .box .content{
    margin:20px 0 0 0;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin:20px 0 0 0;
  }
  .left .content .social a{
    padding:0 2px;
  }
  .left .content .social a span{
    height:40px;
    width:40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .text{
    cursor:pointer;
  }





  @media (max-width:800px){
    .box{
      width:100%;
    }
  }
/** Profile container styling */
.section{
  width: 100%;
  height: auto;
  padding: 50px;
  display:inline-block;
}
@media screen and (max-width:1000px){
  .section{
    height:auto;
  }
}
.section .img-container{
  float:left;
  height:100%;
  width:40%;
}
.section .img-container img{
  height:100%;
  width:100%;
}
.section .text-container{
  float:left;
  width:60%;
  padding:40px;
}
@media screen and (max-width:1000px){
  .section .img-container{
    width:90%;
  }
  .section .text-container{
    width:100%;
  }
}
/** LIvelink Styles 
===========================================================================================================*/
.live-container{
  padding:100px;
}
.live-btn {
  padding: 36px 56px;
  border: none;
  border-radius: 55px 46% 50px 35%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin-top:30px;
  letter-spacing: -1px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(0, 0, 0, 0.15) inset,
    6px 6px 12px rgba(255, 255, 255, 0.4) inset, -6px -6px 12px white;
}
.live-btn :hover, :focus {
  animation: 4s liquid linear infinite;
}
@keyframes liquid {
  0% {
    border-radius: 55px 46% 50px 35%;
  }
  25% {
    border-radius: 70px 50px 25px 10%;
  }
  50% {
    border-radius: 30% 29% 45% 35px;
  }
  75% {
    border-radius: 35% 50% 40px 45%;
  }
  95% {
    border-radius: 50px 40% 47px 37%;
  }
}
.row{
  overflow-x:hidden;
}